@charset "UTF-8";

*{
    padding: 0%;
    margin: 0%;
}


:root {
    --cor1: #030207;
    --cor2: #829FD9;
    --cor3: #B457F2;
    --cor4: #43CAD9;
    --cor5: #485373;
}

body {
    margin: 0%;
    padding: 0%;

    background-color: var(--cor1);
}

header {
    background-image: url(../imagens/wallpaper001.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center top;

    margin: auto;
    margin-bottom: 0%;

    height: 100vh;

    color: white;

    border-bottom: solid var(--cor1) 0.5PX;
}


header img {
    width: 100%;
    display: block;
    height: 92%;
}

nav#superior {
    height: 50px;

    position: relative;

    display: flex;
    flex-direction: row;
    align-items: center;

    background-color: #111111;
    padding: 5px;

    border-bottom: #829FD9 solid 0.5px;
}

nav#superior a {
    text-decoration: none;
    margin: 0px 5px;
    font-size: 1.6em;
}

div#logo {
    align-self: center;
}

div#navegadores {
    margin-left: 20px;
    margin: auto;
}

div#navegadores a {
    padding: 10px;
    color: var(--cor2);
}

div#navegadores a:hover {
    color: var(--cor4);
    background-color: rgba(255, 255, 255, 0.274);
    border-radius: 10px;
    outline: var(--cor3) solid;
}

div#menu {
    
    position: absolute;
    top: 35%;
    left: 5%;

    max-width: 700px;

    font-size: 1.5em;
    text-indent: 15px;

    padding-right: 15px;
}

div#menu-title {
    font-size: 2em;
    margin-bottom: 10px;

    color: var(--cor3);
}

div#sub-title-menu{
    margin-bottom: 20px ;
    padding-left: 10px;

    color: var(--cor2);
}

div#sub-title-menu p {
    display: inline;
}

div.enfase {
    display:inline-block;

    border-bottom: var(--cor3) solid 2px;
    text-indent: 0px;
    padding-right: 5px;
    padding-left: 5px;
}

div.divisor {
    text-align: center;
    color: var(--cor3);
    font-size: 0.9em;

    padding-top: 5px;
    padding-bottom: 10px;
}

div#menu-content {
    font-size: 0.8em;
}

main {
    padding-top: 10px;
}

main h1 {
    margin-bottom: 15px;
}

main p {
    text-align: justify;
    text-indent: 15px;
    font-size: 1.2em;
}

div#conteudo {
    display: flex;
    flex-wrap: row ;
    flex-wrap: nowrap;

    max-width: 900px;
    margin: auto;
}

div.main-title {
    background-image:linear-gradient(to right, var(--cor1), var(--cor2), transparent) ;
    color: var(--cor4);
    padding: 5px;
    margin-bottom: 15px;

    border-radius: 0px 0px 5px 5px;

    box-shadow: 1px 5px 10px rgba(0, 0, 0, 0.24);

    margin: 0px -15px;

    font-size: 1.4em;
}

div.ultima {
    margin-top: -15px;
}

main h1 {
    margin: 0%;
}

span.main-enfase {
    font-style:italic ;
}

div#main-primeira {
    margin-top: -15px;
}

div.mid-content {
    width: 50%;
}

section {
    background-color: white;
    border: var(--cor3) ridge 2px;

    margin: auto;
    margin-right: 5px;
    margin-bottom: 5px;

    padding: 15px;

    box-shadow: 2px 0px 3px rgba(0, 0, 0, 0.342);
}

section p {
    font-size: 1.1em;
    margin-top: 5px;
}

aside {
    background-color: #161618;
    width: 25%;
    border: var(--cor3) ridge 2px;
}

aside#navegação {
    margin-right: 5px;
    text-align: center;
    color: var(--cor2);

    display: flex;
    flex-direction: column;
}

aside#navegação  a {
    transition: 2s;
    text-decoration: none;
    color: var(--cor3);
}

aside#navegação ul {
    list-style: none;
}

aside#navegação li {
   padding-bottom: 10px;
}

div.aside-title {
    font-size: 1.6em;

    border-bottom: var(--cor4) 1px solid;
    padding-bottom: 5px ;
    padding-top: 5px;

}

li.aside-content {
    margin-bottom: 5px;
}

a.aside-content p{
    text-align: center;
    text-indent: 0px;
    margin-bottom: 5px;
    margin-top: 5px;
} 

div.imagem-navegadora {
    border: var(--cor5) ridge;
    border-radius: 50%;
    height: 80px;
    width: 80px;

    background-image: url(../imagens/marca_dubia.png);
    background-position: center;
    background-position: 260%;

    margin: auto;
    margin-top: 10px;
}

section.mask-container {
    position: relative;
    margin: 15px;

    background-image: url(../imagens/transition-wallpaper.png);
    background-position: 100%;
    background-size: cover;

    height: 400px;

    color: white;
    text-align: center;
}

div.mask-title {
    font-size: 2em;
    padding-bottom: 10px;

    padding-left: 15px;
}

div.mask-sub-title {
    font-size: 1.5em;
    padding-bottom: 25px;

    padding-right: 30px;

    color: var(--cor2);
}

div.mask-text {
    display: block;
    text-align: center;

    margin: auto;

    padding-bottom: 35px;

    color: var(--cor4);

    text-shadow: black 1px 1px 1px;
}

div.mask-text p {
    text-align: center;
}

div.mask-buttom {
    display: inline-block;

    background-color: var(--cor1);
    padding: 15px;

    border: ridge var(--cor5);

    font-size: 0.8em;

    color: var(--cor3);
}

div.mask-buttom:hover {
    transition: 0.2s;

    padding: 16px;

    color: var(--cor4);
}